body{
  font-family: Roboto,sans-serif;
  padding-top: 70px;
}

/* HEADER */
.header_top{
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 70px;
  border: 1px solid #F6F7F9;
  color: black;
  line-height: 70px;
  z-index: 2;
  font-size: 16px;
  text-align: center;
}

.header_top img{
  width: 170px;
  vertical-align: middle;
}

.header_top a{
  color: #031b4e;
  text-decoration: none;
  cursor: pointer;
}

.header_top a:hover{
  color: #0069FF;
}

.list-inline .btn-default{
  background-color: inherit;
  border: 1px solid #0069FF;
  color: #0069FF!important;
  border-radius: 5px;
}

.list-inline .btn-default:hover{
  background-color: #0069FF;
  border: 1px solid #0069FF;
  color: white!important;
}

.glyphicon-menu-down{
  font-size: 12px;
}

.glyphicon-menu-hamburger{
  color: #3a8aff;
  font-size: 24px;
  vertical-align: middle;
}

.glyphicon-menu-hamburger:hover{
  color: #0069FF;
}

/* CONTENUTO HEADER */
.header_jumbotron{
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: blue;
  width: auto;
  color: white;
}

.text_jumbotron{
  text-align: left;
  margin-top: 115px;
  margin-bottom: 115px;
}

.text_jumbotron h1{
  font-size: 60px;
  font-weight: bold;
}

.text_jumbotron h3{
  font-size: 20px;
  opacity: 0.8;
  line-height: 30px;
}

.form_container{
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  padding: 32px;
}

.form_container h2{
  margin-top: 5px;
  color: #031B4E;
  text-align: center;
}

.text_blue{
  color: #0069FF!important;
}

.btn_account{
  width: 100%;
  background-color: #0069FF;
  color: white;
  opacity: 0.7;
  border: 1px solid #0069FF;
  border-radius: 5px;
  margin: 11px 0;
}

.btn_account:hover{
  background-color: #0069FF;
  color: white;
  opacity: inherit;
}

.btn_google{
  width: 100%;
  color: #031b4e;
  font-weight: bold;
  opacity: 0.7;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  margin-bottom: 13px;
}

.btn_google img{
  float: left;
  width: 5%;
}

.text_black{
  color: #031b4e;
}

.text_black a{
  text-decoration: underline;
}

/* MEDIA QUERY  CONTENUTO HEADER */
@media screen and (max-width: 1200px) {
  .text_jumbotron h1{
    font-size: 32px;
  }
  .text_jumbotron h3{
    font-size: 19px;
  }
}

@media screen and (max-width: 992px) {
  {
    font-size: 40px;
  }
}

/* ROW MAIN TOP */
.row_top_main{
  background-color: #F3F5F9;
  width: auto;
  padding: 64px 0;
}

.row_top_main h2{
  font-size: 14px;
  opacity: 0.4;
  font-weight: bold;
  text-transform: uppercase;
}

.b_align{
  vertical-align: middle;
  height: 160px;
  line-height: 160px;
}

.b_logo{
  width: 100%;
}

.row_top_main a{
  font-size: 16px;
}

/* INFORMATION DIGITALOCEAN */
.information_digitalocean{
  padding: 120px 0;
}

.information_digitalocean h2{
  font-size: 36px;
  font-weight: bold;
}

.information_digitalocean h3{
  font-size: 20px;
  color: #818DA7;
  margin-bottom: 65px;
}

.information_digitalocean h4{
  font-size: 18px;
  color: #031b4e;
  font-weight: bold;
}

.information_digitalocean p{
  font-size: 16px;
  color: #818DA7;
}

.information_digitalocean .i_box{
  padding: 16px 0 0 16px;
  margin-bottom: 32px;
}

.padding_tabs{
  padding: 32px;
}

.tabs{
  display: block;
  padding: 17px;
  border-left: 2px solid #e5e8ed;
  font-size: 16px;
  color: #818DA7;
}

.tabs:hover{
  color: #031b4e;
  text-decoration: none;
}
.border_blue{
border-left: 2px solid #0069FF;
color: #0069FF;
}

/* <!-- SLIDE 1 --> */
.slide1{
  background-color: #F3F5F9;
  width: auto;
  padding: 64px 0;
}

.slide1 h2{
  font-size: 36px;
  font-weight: bold;
}

.slide1 h3{
  font-size: 20px;
  color: #818DA7;
  margin-bottom: 65px;
}

.img_slide{
  width: 100%;
  cursor: grab;
}

.slide1 h4{
  font-size: 25px;
  color: #031b4e;
  margin-top: 30px;
  cursor: grab;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right{
  padding-top: calc(613.3px / 2);
  color: #818DA7;
  font-size: 40px;
}

.glyphicon-chevron-left:hover,
.glyphicon-chevron-right:hover{
  color: #031c4e;
  cursor: pointer;
}

.slide1 ol{
  list-style: none;
  margin-top: 15px;
}

.slide1 li{
  display: inline-block;
  background-color: transparent;
  border: 2px solid #0069FF;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  border-radius: 50%;
  cursor: pointer;
}

.slide1 li:hover{
  background-color: #0069FF;
  opacity: 1;
}

/* MEDIA QUERY SLIDE 1 */
@media screen and (max-width: 1200px) {
  .glyphicon-chevron-left,
  .glyphicon-chevron-right{
    padding-top: calc(505.13px / 2);
  }
}

@media screen and (max-width: 992px) {
  .glyphicon-chevron-left,
  .glyphicon-chevron-right{
    padding-top: calc(386.14px / 2);
  }
  .slide1 ol{
    padding-inline-start: 0;
    margin-top: 65px;
  }
}

/* FEATURES INTERPRISE */
.features_enterprise{
  padding-top: 120px;
}

.features_enterprise h2{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 65px;
}

.features_enterprise a{
  font-size: 16px;
}

.features_enterprise h4{
  font-size: 18px;
  color: #031b4e;
  font-weight: bold;
}

.features_enterprise p{
  font-size: 16px;
  color: #818DA7;
}
